<?xml version="1.0" encoding="utf-8" ?>
  <!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true" >


    <!-- the targets to write to -->
    <targets>
      <!-- write logs to file -->
      <target xsi:type="File" name="target1" layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}" fileName="C:/Logs/IEWLog/MonitorService/${date:format=yyyyMMdd}/${date:format=HH}.log" archiveFileName="C:/Logs/IEWLog/MonitorService/${date:format=yyyyMMdd}/${date:format=HH}.{#####}.log" archiveAboveSize="20971520" archiveNumbering="Sequence" MaxArchiveFiles="50" concurrentWrites="true" keepFileOpen="false" />
      <target xsi:type="Console" name="target2" layout="${date}|${level:uppercase=true}|${message} ${exception}}" />
      <target xsi:type="File" name="target3" layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}" fileName="C:/Logs/IEWLog/MonitorService/AlarmHistory.log" archiveFileName="C:/Logs/IEWLog/MonitorService/${date:format=yyyyMMdd}/AlarmHistory.{#####}.log" archiveAboveSize="20971520" archiveNumbering="Sequence" MaxArchiveFiles="50" concurrentWrites="true" keepFileOpen="false" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
      <logger name="*" minlevel="Debug" writeTo="target1,target2" />
      <logger name="AlarmHistory" minlevel="Debug" writeTo="target3" />
    </rules>
  </nlog>
